*{
    margin: 0;
    padding: 0;
}

.contenedor-grid{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "seis seis tres uno"
    ". dos tres ."
    "cuatro dos cinco cinco"
    ;
}

.contenedor-grid div{
    border: 2px solid black;
    font-size: 50px;
}

.elemento-1{
    grid-area: uno;
    background-color: yellow;
}
.elemento-2{
    grid-area: dos;
    background-color: pink;
}

.elemento-3{
    grid-area: tres;
    background-color: red;
}
.elemento-4{
    grid-area: cuatro;
    background-color: blue;
}
.elemento-5{
    grid-area: cinco;
    background-color: orange;
}
.elemento-6{
    grid-area: seis;
    background-color: green;
}

@media (max-witdh: 400px) {
    
.contenedor-grid{
    grid-template-areas: 
    "seis" 
    "tres" 
    "uno"
    "cuatro"
    "dos" 
    "cinco"
    ;
}
}