*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #59657d;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: #292c31;
    margin: auto;
}

ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}

li{

    font-size: 4vh;
    color: white;
}

header{
    height: 90vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#follaje{
top: 0;
    transition: top .1s ease;
}

#luna{
    width: 75%;
    bottom: 0;
    left: 0;
}

#moira{
    width: 75%;
    bottom: 0;
    right: 0;
    transition: top .1s ease-in-out;
    transition: right .1s ease-in-out;
}


#nubes{
  top: 0;
  width: 100%;
  transition: transform .1s ease;
}

.titulo{
    color: #ffffff;
    font-size: 10vh;

    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY("-50%");

    z-index: 100;
    margin: 2vh;

    text-shadow: 5px 0px 0px rgb(124, 21, 150);

    transition: right .1s ease-in-out;
}

main{
    height: 100vh;
}